artifacts_cache
*.zip
*.amp
*.rpm
*.deb
*.jar
*.tgz
*.gz
*.tgz

# Files pulled from acs-deployment to test deployment
acs-deployment
test/compose.yaml
test/community-compose.yaml
test/*-compose.yaml
test/*-overrides.yaml
test/updatecli-matrix-targets.yaml
test/README.md
test/commons/
# Files fetched by scripts/fetch_helm.sh
test/helm/enterprise-integration-test-values.yaml
test/helm/community-integration-test-values.yaml
test/helm/community_values.yaml

# CI/CD
alfresco-updatecli
.idea
.vscode
.vagrant
.venv
venv
