exclude-queries:
  - b03a748a-542d-44f4-bb86-9199ab4fd2d5 # healthchecks are provided in compose files
  - 6452c424-1d92-4deb-bb18-a03e95d579c4 # avoid pointing to specific versions of packages to be able to build every rhlike
  - 9efb0b2d-89c9-41a3-91ca-dcc0aec911fd # images are typically built and tagged by bake, so explicit version tags are unnecessary
  - aa93e17f-b6db-4162-9334-c70334e7ac28 # we use chown in our Dockerfiles
