name: CI

on:
  workflow_call:
    inputs:
      aps_version:
        description: 'Version of APS to build'
        required: true
        type: string
      tag:
        description: 'Tag to use for the built images'
        required: true
        type: string

env:
  REGISTRY: ghcr.io
  REGISTRY_NAMESPACE: alfresco
  TAG: ${{ inputs.tag }}

jobs:
  build:
    if: github.actor != 'dependabot[bot]'
    uses: ./.github/workflows/reusable_bake_build.yml
    with:
      version: ${{ inputs.aps_version }}
      bake-targets: aps
      tag: ${{ inputs.tag }}
      artifacts-to-fetch: 'aps/**/artifacts-${{ inputs.aps_version }}.yaml'
    secrets: inherit
  aps-helm-test:
    needs: build
    runs-on: ${{ matrix.arch == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: amd64
            config-type: env
          - arch: arm64
            config-type: volume
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Prepare for helm installation
        uses: ./.github/actions/helm-prepare
        with:
          docker-username: ${{ secrets.DOCKER_USERNAME }}
          docker-password: ${{ secrets.DOCKER_PASSWORD }}
          quay-username: ${{ secrets.QUAY_USERNAME }}
          quay-password: ${{ secrets.QUAY_PASSWORD }}
          github-registry: ${{ env.REGISTRY }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-actor: ${{ github.actor }}

      - name: Create license secret
        run: |
          kubectl create secret generic \
            --from-literal=activiti.lic="${{ secrets.APS_LICENSE }}" aps-license

      - name: Create configmaps for aps
        if: ${{ matrix.config-type == 'volume' }}
        run: |
          kubectl create configmap aps-admin-config --from-file=activiti-admin.properties=test/configs/aps-admin.properties
          kubectl create configmap aps-app-config --from-file=activiti-app.properties=test/configs/aps-app.properties
          kubectl create configmap aps-app-identity-config --from-file=activiti-identity.properties=test/configs/aps-app-identity.properties

      - name: Checkout aps-deployment sources
        uses: ./.github/actions/aps-deployment
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}

      - name: Setup helm repository
        working-directory: aps-deployment/helm/alfresco-process-services
        run: |
          helm repo add self https://alfresco.github.io/alfresco-helm-charts/
          helm repo add bitnami https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami/
          helm repo add elastic https://helm.elastic.co
          helm dependency build

      - name: Preprocess aps-test-overrides.yaml
        env:
          OVERRIDES_VALUES_FILE: test/helm/aps-test-overrides.yaml
        run: |
          sed -i "s|localhost/alfresco/|${REGISTRY}/${REGISTRY_NAMESPACE}/|g" ${{ env.OVERRIDES_VALUES_FILE }}
          sed -i "s|tag: latest|tag: ${TAG}|g" ${{ env.OVERRIDES_VALUES_FILE }}
          cat ${{ env.OVERRIDES_VALUES_FILE }}

      - name: Helm install
        id: helm_install
        run: |
          helm install aps ./aps-deployment/helm/alfresco-process-services \
            --set alfresco-activiti.license.secretName=aps-license \
            --set global.alfrescoRegistryPullSecrets=regcred \
            --values ./aps-deployment/tests/ci-values.yaml \
            --values test/helm/aps-test-overrides.yaml \
            ${{ matrix.config-type == 'volume' && '--values test/helm/aps-test-overrides-volume.yaml' || '' }}

      - name: Wait for deployments to be ready
        uses: Alfresco/alfresco-build-tools/.github/actions/kubectl-wait@v10.4.0
        with:
          wait-resource: "deployments"
          wait-condition: "Available"

      - name: Wait for statefulsets to be ready
        uses: Alfresco/alfresco-build-tools/.github/actions/kubectl-wait@v10.4.0
        with:
          wait-resource: "sts"
          wait-for-what: "jsonpath"
          wait-condition: "'{.status.readyReplicas}'=1"

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          repository: Alfresco/alfresco-deployment-test-automation-scripts
          path: dtas
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          ref: v1.7.2

      - name: Test alfresco via DTAS
        uses: ./dtas
        with:
          pytest_options: "-k test_process"
          test_config_file: test/configs/aps-dtas-${{ inputs.aps_version }}.json
          pytest_retries: 1

      - name: Collect and push logs as artifcact
        if: always() && steps.helm_install.outcome != 'skipped'
        uses: Alfresco/alfresco-build-tools/.github/actions/kubectl-keep-nslogs@v10.4.0
        with:
          log_retention: 7
          log_name_identifier: "APS-Version-${{ inputs.aps_version }}-${{ matrix.config-type }}-${{ matrix.arch }}"
