name: kics

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

permissions:
  security-events: write
  contents: write

jobs:
  kics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Run KICS Scan
        uses: checkmarx/kics-github-action@e01759d524f8abd5bd650d3d5bd4b96d46ebbc1d # v2.1.17
        with:
          path: './'
          ignore_on_exit: results
          output_path: report-dir/
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          enable_jobs_summary: true
          platform_type: dockerfile
          disable_secrets: true
          output_formats: sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@1b168cd39490f61582a9beae412bb7057a6b2c4e # v3.29.5
        with:
          sarif_file: report-dir/results.sarif
