name: kics

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

permissions:
  security-events: write
  contents: write

jobs:
  kics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Run KICS Scan
        uses: checkmarx/kics-github-action@6b6fc1162a0f06704e4cca6e5f8e008ab20fabe5 # v2.1.16
        with:
          path: './'
          ignore_on_exit: results
          output_path: report-dir/
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          enable_jobs_summary: true
          platform_type: dockerfile
          disable_secrets: true
          output_formats: sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@e12f0178983d466f2f6028f5cc7a6d786fd97f4b # v3.29.5
        with:
          sarif_file: report-dir/results.sarif
