name: kics

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

permissions:
  security-events: write
  contents: write

jobs:
  kics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run KICS Scan
        uses: checkmarx/kics-github-action@00def9108246ec656aea725db2167522d26a99d2 # v2.1.19
        with:
          path: './'
          ignore_on_exit: results
          output_path: report-dir/
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          enable_jobs_summary: true
          platform_type: dockerfile
          disable_secrets: true
          output_formats: sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@6bc82e05fd0ea64601dd4b465378bbcf57de0314 # v3.29.5
        with:
          sarif_file: report-dir/results.sarif
