name: Test make

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - 'Makefile'
      - '.github/workflows/test-make.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  make-test:
    strategy:
      matrix:
        target: ${{ fromJSON(
            github.event.pull_request.head.repo.fork
              && '["community"]'
              || '["community", "adf_apps","ats","audit_storage","connectors","hxinsight_connector","repo","search_enterprise","search_service","share","sync","tengines","aps"]'
          ) }}
    runs-on: ubuntu-latest
    steps:
      - uses: Alfresco/alfresco-build-tools/.github/actions/free-hosted-runner-disk-space@v12.9.0

      - name: Setup nexus authentication
        if: '! github.event.pull_request.head.repo.fork'
        env:
          NETRC_PATH: ~/.netrc
        run: |
          touch ${{ env.NETRC_PATH }}
          chmod 600 ${{ env.NETRC_PATH }}
          echo "machine nexus.alfresco.com" >> ${{ env.NETRC_PATH }}
          echo "login ${{ secrets.NEXUS_USERNAME_READ_ONLY }}" >> ${{ env.NETRC_PATH }}
          echo "password ${{ secrets.NEXUS_PASSWORD_READ_ONLY }}" >> ${{ env.NETRC_PATH }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - run: make ${{ matrix.target }}

      - name: Check Images are loaded
        run: |
          echo -n "Checking images are loaded in local Docker Engine..."
          docker images --format "{{.Repository}}:{{.Tag}}" | grep alfresco || { echo "No Alfresco image found"; exit 1; }

      - name: Install Grype
        uses: anchore/scan-action/download-grype@8d2fce09422cd6037e577f4130e9b925e9a37175 # v7.3.1
        id: grype-install

      - name: Add Grype to PATH
        run: echo "$(dirname ${{ steps.grype-install.outputs.cmd }})" >> $GITHUB_PATH

      - name: Grype scan
        run: |
          docker image ls --format '{{.Repository}}:{{.Tag}}' \
            | grep alfresco \
            | xargs -I{} sh -c 'echo "Running scan for {}..." \
            && grype -f high --only-fixed --ignore-states wont-fix {}'
