name: Test make

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - OPSEXP-3678
    paths:
      - 'Makefile'
      - '.github/workflows/test-make.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  make-test:
    strategy:
      matrix:
        target: ${{ fromJSON(
            github.event.pull_request.head.repo.fork
              && '["community","search_service","tengines","acc"]'
              || '["adf_apps","ats","audit_storage","connectors","hxinsight_connector","repo","search_enterprise","search_service","share","sync","tengines","aps"]'
          ) }}
    runs-on: ubuntu-latest
    steps:
      - uses: Alfresco/alfresco-build-tools/.github/actions/free-hosted-runner-disk-space@v9.3.2

      - name: Setup nexus authentication
        if: '! github.event.pull_request.head.repo.fork'
        env:
          NETRC_PATH: ~/.netrc
        run: |
          touch ${{ env.NETRC_PATH }}
          chmod 600 ${{ env.NETRC_PATH }}
          echo "machine nexus.alfresco.com" >> ${{ env.NETRC_PATH }}
          echo "login ${{ secrets.NEXUS_USERNAME }}" >> ${{ env.NETRC_PATH }}
          echo "password ${{ secrets.NEXUS_PASSWORD }}" >> ${{ env.NETRC_PATH }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - run: make ${{ matrix.target }}

      - name: Check Images are loaded
        run: |
          echo -n "Checking images are loaded in local Docker Engine..."
          docker images --format "{{.Repository}}:{{.Tag}}" | grep alfresco || { echo "No Alfresco image found"; exit 1; }

      - name: Install Grype
        uses: anchore/scan-action/download-grype@568b89d27fc18c60e56937bff480c91c772cd993 # v7.1.0
        id: grype-install

      - name: Add Grype to PATH
        run: echo "$(dirname ${{ steps.grype-install.outputs.cmd }})" >> $GITHUB_PATH

      # using critical until rockylinux 9.7 is released (see OPSEXP-3691)
      - name: Grype scan
        run: |
          docker image ls --format '{{.Repository}}:{{.Tag}}' \
            | grep alfresco \
            | xargs -I{} sh -c 'echo "Running scan for {}..." \
            && grype -f critical --only-fixed --ignore-states wont-fix {}'
